<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title>AdonisJs - Node.Js MVC Framework</title>

  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900' rel='stylesheet' type='text/css'>
  <link rel="icon" href="/assets/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.css">

  <style media="screen">
    button.card-footer-item {
      background: 0;
      border: 0;
      font: inherit;

      background: #00d1b2;
      color: #fff;
    }
  </style>
</head>
<body>
  <nav class="nav has-shadow">
    <div class="container">
      <h1 class="nav-left">
        <a href="/" class="nav-item is-brand">Shopping</a>
      </h1>

      <div class="nav-right nav-menu">
        <a href="/" class="nav-item">Home</a>
        {% if currentUser %}
          <a href="/store" class="nav-item">Shop</a>

          <a href="/my-orders" class="nav-item">Orders</a>
        {% else %}
          <a href="/login" class="nav-item">Login</a>

          <a href="/register" class="nav-item">Sign Up</a>
        {% endif %}
      </div>
    </div>
  </nav>
  <div class="section">
    <div class="container">
      {% if old('error') %}
      <article class="message is-danger">
        <div class="message-body">
          {{ old('error') }}
        </div>
      </article>
      {% endif %}

      {% if old('success') %}
      <article class="message is-primary">
        <div class="message-body">
          {{ old('success') }}
        </div>
      </article>
      {% endif %}

      {% block content %}{% endblock %}
    </div>
  </div>
</body>
</html>
