{% extends "master" %}

{% block content %}
  <div class="columns">
    <div class="column is-half is-offset-3">
      <div class="card is-fullwidth">
        <div class="card-header">
          <h2 class="card-header-title">Register</h2>
        </div>
        {{ form.open({ action: 'UserController.store' }) }}

          <div class="card-content">
            {{ csrfField }}

            <div class="control">
              {{ form.label('email', 'Email') }}
              {{ form.text('email', null, { class: 'input', placeholder: 'Email' }) }}
            </div>

            <div class="control">
              {{ form.label('password', 'Password') }}
              {{ form.password('password', null, { class: 'input', placeholder: 'Password' }) }}
            </div>

            <div class="control">
              {{ form.label('password_confirmation', 'Confirm Password') }}
              {{ form.password('password_confirmation', null, { class: 'input', placeholder: 'Confirm Password' }) }}
            </div>
          </div>

          <div class="card-footer">
            <a href="/login" class="card-footer-item">Login</a>
            <button class="card-footer-item">Register</button>
          </div>

        {{ form.close() }}
      </div>
    </div>
  </div>
{% endblock %}
